$light-main: rgb(116, 196, 192);
$main: lightseagreen;

@font-face {
    font-family: "Red Hat Display";
    src: url('../assets/fonts/RedHatDisplay-Regular.ttf');
}

body {
    background-color: #f5ecec;
    color: black;
    font-family: "Red Hat Display", Arial;
    margin: 0;
  }
  