.header {
    width: 100%;
    height: 80vw;
    @media #{$sm} {height: 60vw;}
    @media #{$lg} {height: 40vw;}

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../assets/concrete.jpg');
    background-position: center;
    background-size: cover;

    &__title {
      color: lightpink;
      text-transform: uppercase;
      text-shadow: 0 0 10px gray;
      letter-spacing: 1.6vw;

      font-size: 12vw;
      @media #{$lg} {font-size: 10vw;}

      transition: margin-top .3s .3s ease-in-out;
      /* Title movement for smaller screens */
      margin: 30vw 0 0 0;
      @media #{$sm} {margin: 12vw 0 0 0;}

      &--active {
        transition: margin-top .3s ease-in-out;

        margin: 7vw 0 0 0;
        @media #{$sm} {margin: 2vw 0 0 0;}
      }

      /* Title movement for larger screens */
      @media #{$lg} {
        margin: 0;
        transition: none;
      }

    }
  
    &__navbar {
      display: flex;
      flex-direction: column;

      transition: visibility 0s linear .3s, opacity .3s .3s ease-in-out;
      opacity: 1;
      visibility: visible;
  
      &--hidden {
        transition: visibility 0s linear .3s, opacity .3s ease-in-out;
        //transition: opacity .4s ease-in-out;
        opacity: 0;
        visibility: hidden;
      }

      @media #{$lg} {
        visibility: visible;
        position: absolute;
        flex-direction: row;
        top: 8px;
        left: 20px;
        opacity: 1;
      }
    }
      
    &__link {
      //color: #e4caca;
      //color: lightseagreen;
      padding: 0;
      margin: 4px 14px;
      font-size: 24px;
      @media #{$md} {font-size: 32px;}
      text-decoration: none;
      text-shadow: 0 0 3px grey;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        filter: brightness(120%);
      }
    }
  
    &__toggler {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 35px;
      height: 35px;
  
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      border: 2px solid #ca9797;
      border-radius: 5px;

      background-color: #eddbdb;
      box-shadow: 0 0 8px 1px black;

      &:focus {
        outline: none;
      }

      @media #{$lg} {
        display: none;
      }

      &:hover {
        cursor: pointer;
        filter: brightness(110%);
        //background-color: darken($color: inherit, $amount: 40);
      }
  
      & span {
        display: block;
        height: 4px;
        width: 22px;
        background-color: #ca9797;
        border-radius: 2px;
        transition: transform .2s , opacity .3s .2s;
      }
  
      //Modyfier '--active' is changing the style of inner spans
      &--active span{
        transition: transform .2s  .3s, opacity .3s;
        &:nth-child(1){
          transform: translateY(9.4px) rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          transform: translateY(-9.4px) rotate(-45deg);
        }
      }
    }

    &__icons {
      position: absolute;
      top: 10px;
      right: 20px;

      & img {
        margin: 12px 10px;
        width: 20px;
        cursor: pointer;
        transition: transform .1s ease-in-out;

        &:hover {
          transform: scale(1.4);
        }
      }
    }
}